.root{
	-fx-text-fill: #FF00FF;
}
.notification.background{
	-fx-background-color: #646464;
	-fx-background-radius: 1000;
}
.button1{
	-fx-text-fill: #AAAAAA;
    -fx-background-color: #FF0000;
    -fx-padding: 5;
}

.gauge{
	-fx-stroke-width: 5;
	-fx-fill: #606060;
	-fx-stroke: #C0C0C0;
}

.gaugeTest{
	-fx-stroke-width: 5;
	-fx-stroke: #C0C0C0;
}

.arrow{
	-fx-background-color : #000000;
    -fx-stroke           : transparent;
}